{
    "debug": false, 
    "port": "/dev/ttyUSB0", 
    "page_adv_pin": 18, 
    "color": "##2e3fcc", 
    "redline_color": "#FF3643", 
    "font_size": 18, 
    "note_font_size": 15, 
    "demo": false,
    "pages": [
        [
            {
                "sensor": "ENGINE_LOAD",
                "type": "Gauge",
                "title": "Engine Load",
                "x": 0,
                "y": 5,
                "w": 200,
                "h": 200,
                "min": 0,
                "max": 100,
                "redline": 90,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "ENGINE_LOAD",
                "type": "Text",
                "title": "",
                "x": 0,
                "y": 205,
                "w": 200,
                "h": 30,
                "min": 0,
                "max": 100,
                "redline": 90,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "CATALYST_TEMP_B1S1", 
                "type": "Text", 
                "title": "Catalist tC bank1", 
                "x": 200, 
                "y": 5, 
                "w": 90, 
                "h": 200, 
                "min": -40, 
                "max": 1500, 
                "redline": 850, 
                "numerals": true, 
                "scale_step": 100, 
                "scale_mult": 10, 
                "buffer_size": 60
            },
            {
                "sensor": "CATALYST_TEMP_B1S1",
                "type": "Text",
                "title": "",
                "x": 213,
                "y": 205,
                "w": 90,
                "h": 30,
                "min": -40,
                "max": 1500,
                "redline": 850,
                "numerals": true,
                "scale_step": 100,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "CATALYST_TEMP_B2S1", 
                "type": "Bar_Vertical", 
                "title": "Catalist tC bank2", 
                "x": 300, 
                "y": 5, 
                "w": 90, 
                "h": 200, 
                "min": -40, 
                "max": 1500, 
                "redline": 850, 
                "numerals": true, 
                "scale_step": 10, 
                "scale_mult": 1, 
                "buffer_size": 60
            },
            {
                "sensor": "CATALYST_TEMP_B2S1",
                "type": "Text",
                "title": "",
                "x": 313,
                "y": 205,
                "w": 90,
                "h": 30,
                "min": -40,
                "max": 1500,
                "redline": 850,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 1,
                "buffer_size": 60
            }, 
            {
                "sensor": "INTAKE_TEMP", 
                "type": "Bar_Vertical", 
                "title": "Intake tC", 
                "x": 400, 
                "y": 5, 
                "w": 90, 
                "h": 200, 
                "min": -40, 
                "max": 70, 
                "redline": 40, 
                "numerals": true, 
                "scale_step": 10, 
                "scale_mult": 1, 
                "buffer_size": 60
            },
            {
                "sensor": "INTAKE_TEMP",
                "type": "Text",
                "title": "",
                "x": 413,
                "y": 205,
                "w": 90,
                "h": 30,
                "min": -40,
                "max": 70,
                "redline": 40,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "INTAKE_PRESSURE",
                "type": "Bar_Vertical",
                "title": "Intake kPa",
                "x": 500,
                "y": 5,
                "w": 90,
                "h": 200,
                "min": 0,
                "max": 255,
                "redline": 200,
                "numerals": true,
                "scale_step": 1,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "INTAKE_PRESSURE",
                "type": "Text",
                "title": "",
                "x": 513,
                "y": 205,
                "w": 90,
                "h": 30,
                "min": 0,
                "max": 255,
                "redline": 200,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "SHORT_FUEL_TRIM_1",
                "type": "Gauge",
                "title": "Short Fuel Trim",
                "x": 600,
                "y": 5,
                "w": 200,
                "h": 200,
                "min": -10,
                "max": 10,
                "redline": 0,
                "numerals": true,
                "scale_step": 2,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "SHORT_FUEL_TRIM_1",
                "type": "Text",
                "title": "",
                "x": 600,
                "y": 205,
                "w": 200,
                "h": 30,
                "min": -100,
                "max": 100,
                "redline": 0,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "COOLANT_TEMP",
                "type": "Gauge",
                "title": "Coolant temp",
                "x": 0,
                "y": 240,
                "w": 200,
                "h": 200,
                "min": 0,
                "max": 120,
                "redline": 105,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "COOLANT_TEMP",
                "type": "Text",
                "title": "",
                "x": 0,
                "y": 445,
                "w": 200,
                "h": 30,
                "min": -40,
                "max": 200,
                "redline": 105,
                "numerals": true,
                "scale_step": 1,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "SHORT_FUEL_TRIM_1", 
                "type": "Bar_Vertical", 
                "title": "Short Fuel Trim 1", 
                "x": 200, 
                "y": 240, 
                "w": 90, 
                "h": 200, 
                "min": -100, 
                "max": 100, 
                "redline": 0, 
                "numerals": true, 
                "scale_step": 100, 
                "scale_mult": 10, 
                "buffer_size": 60
            },
            {
                "sensor": "SHORT_FUEL_TRIM_1",
                "type": "Text",
                "title": "",
                "x": 213,
                "y": 445,
                "w": 90,
                "h": 30,
                "min": -100,
                "max": 100,
                "redline": 0,
                "numerals": true,
                "scale_step": 100,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "LONG_FUEL_TRIM_1", 
                "type": "Bar_Vertical", 
                "title": "Long Fuel Trim 1", 
                "x": 300, 
                "y": 240, 
                "w": 90, 
                "h": 200, 
                "min": -100, 
                "max": 100, 
                "redline": 0, 
                "numerals": true, 
                "scale_step": 10, 
                "scale_mult": 1, 
                "buffer_size": 60
            },
            {
                "sensor": "LONG_FUEL_TRIM_1",
                "type": "Text",
                "title": "",
                "x": 313,
                "y": 445,
                "w": 90,
                "h": 30,
                "min": -100,
                "max": 100,
                "redline": 0,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 1,
                "buffer_size": 60
            }, 
            {
                "sensor": "MAF", 
                "type": "Bar_Vertical", 
                "title": "MAF", 
                "x": 400, 
                "y": 240, 
                "w": 90, 
                "h": 200, 
                "min": 0, 
                "max": 656, 
                "redline": 700, 
                "numerals": true, 
                "scale_step": 10, 
                "scale_mult": 1, 
                "buffer_size": 60
            },
            {
                "sensor": "MAF",
                "type": "Text",
                "title": "",
                "x": 413,
                "y": 445,
                "w": 90,
                "h": 30,
                "min": 0,
                "max": 656,
                "redline": 700,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "TIMING_ADVANCE",
                "type": "Bar_Vertical",
                "title": "Timing Advance",
                "x": 500,
                "y": 240,
                "w": 90,
                "h": 200,
                "min": -64,
                "max": 64,
                "redline": 100,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "TIMING_ADVANCE",
                "type": "Text",
                "title": "",
                "x": 513,
                "y": 445,
                "w": 90,
                "h": 30,
                "min": -64,
                "max": 64,
                "redline": 100,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "LONG_FUEL_TRIM_1",
                "type": "Gauge",
                "title": "Long Fuel Trim",
                "x": 600,
                "y": 240,
                "w": 200,
                "h": 200,
                "min": -10,
                "max": 10,
                "redline": 0,
                "numerals": true,
                "scale_step": 2,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "LONG_FUEL_TRIM_1",
                "type": "Text",
                "title": "",
                "x": 600,
                "y": 445,
                "w": 200,
                "h": 30,
                "min": -100,
                "max": 100,
                "redline": 100,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            }
        ]
    ]
}
