{
    "debug": false, 
    "port": "/dev/pts/2", 
    "page_adv_pin": 18, 
    "color": "#2e3fcc", 
    "redline_color": "#ff0000", 
    "font_size": 18, 
    "note_font_size": 15, 
    "demo": false,
    "pages": [
        [
            {
                "sensor": "Boost",
                "type": "Boost",
                "title": "Boost",
                "x": 0,
                "y": 5,
                "w": 200,
                "h": 200,
                "min": 0,
                "max": 20,
                "redline": 13,
                "numerals": true,
                "scale_step": 1, 
                "scale_mult": 1,
                "buffer_size": 60
            },
	            {
                "sensor": "TIMING_ADVANCE",
                "type": "Bar_Vertical",
                "title": "Timing Advance",
                "x": 500,
                "y": 240,
                "w": 90,
                "h": 200,
                "min": -64,
                "max": 64,
                "redline": 100,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "TIMING_ADVANCE",
                "type": "Text",
                "title": "",
                "x": 513,
                "y": 445,
                "w": 90,
                "h": 30,
                "min": -64,
                "max": 64,
                "redline": 100,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "RPM",
                "type": "Gauge",
                "title": "RPM",
                "x": 600,
                "y": 240,
                "w": 200,
                "h": 200,
                "min": 0,
                "max": 8000,
                "redline": 6000,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "RPM",
                "type": "Text",
                "title": "",
                "x": 600,
                "y": 445,
                "w": 200,
                "h": 30,
                "min": 0,
                "max": 8000,
                "redline": 6500,
                "numerals": true,
		"align": "Right",
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            }
        ]
    ]
}
