{
    "debug": true, 
    "port": "/dev/pts/2", 
    "page_adv_pin": 18, 
    "color": "#53B9E8", 
    "redline_color": "#FF3643", 
    "font_size": 18, 
    "note_font_size": 15, 
    "demo": true,
    "pages": [
        [
            {
                "sensor": "CATALYST_TEMP_B1S1", 
                "type": "Bar_Vertical", 
                "title": "Catalist t0", 
                "x": 0, 
                "y": 5, 
                "w": 90, 
                "h": 200, 
                "min": -40, 
                "max": 1500, 
                "redline": 850, 
                "numerals": true, 
                "scale_step": 100, 
                "scale_mult": 10, 
                "buffer_size": 60
            },
            {
                "sensor": "CATALYST_TEMP_B1S1",
                "type": "Text",
                "title": "",
                "x": 13,
                "y": 210,
                "w": 90,
                "h": 30,
                "min": -40,
                "max": 1500,
                "redline": 850,
                "numerals": true,
                "scale_step": 100,
                "scale_mult": 10,
                "buffer_size": 60
            },
            {
                "sensor": "COOLANT_TEMP", 
                "type": "Bar_Vertical", 
                "title": "Coolant t0", 
                "x": 100, 
                "y": 5, 
                "w": 90, 
                "h": 200, 
                "min": -40, 
                "max": 120, 
                "redline": 105, 
                "numerals": true, 
                "scale_step": 10, 
                "scale_mult": 1, 
                "buffer_size": 60
            },
            {
                "sensor": "COOLANT_TEMP",
                "type": "Text",
                "title": "",
                "x": 113,
                "y": 210,
                "w": 90,
                "h": 30,
                "min": -40,
                "max": 120,
                "redline": 105,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 1,
                "buffer_size": 60
            }, 
            {
                "sensor": "INTAKE_TEMP", 
                "type": "Bar_Vertical", 
                "title": "Intake t0", 
                "x": 200, 
                "y": 5, 
                "w": 90, 
                "h": 200, 
                "min": -40, 
                "max": 70, 
                "redline": 40, 
                "numerals": true, 
                "scale_step": 10, 
                "scale_mult": 1, 
                "buffer_size": 60
            },
            {
                "sensor": "INTAKE_TEMP",
                "type": "Text",
                "title": "",
                "x": 213,
                "y": 210,
                "w": 90,
                "h": 30,
                "min": -40,
                "max": 70,
                "redline": 40,
                "numerals": true,
                "scale_step": 10,
                "scale_mult": 1,
                "buffer_size": 60
            },
            {
                "sensor": "RPM",
                "type": "Bar_Vertical",
                "title": "RPM",
                "x": 300,
                "y": 5,
                "w": 90,
                "h": 200,
                "min": 0,
                "max": 8000,
                "redline": 6750,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "RPM",
                "type": "Text",
                "title": "",
                "x": 313,
                "y": 210,
                "w": 90,
                "h": 30,
                "min": 0,
                "max": 8000,
                "redline": 6750,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            },
            {
                "sensor": "RPM", 
                "type": "Gauge", 
                "title": "RPM", 
                "x": 0, 
                "y": 235, 
                "w": 200, 
                "h": 200, 
                "min": 0, 
                "max": 8000, 
                "redline": 6750, 
                "numerals": true, 
                "scale_step": 1000, 
                "scale_mult": 1000, 
                "buffer_size": 60
            },
            {
                "sensor": "RPM", 
                "type": "Bar_Horizontal", 
                "title": "RPM", 
                "x": 200, 
                "y": 235, 
                "w": 200, 
                "h": 200, 
                "min": 0, 
                "max": 8000, 
                "redline": 6750, 
                "numerals": true, 
                "scale_step": 1000, 
                "scale_mult": 1000, 
                "buffer_size": 60
            }, 
            {
                "sensor": "RPM", 
                "type": "Gauge", 
                "title": "RPM", 
                "x": 400, 
                "y": 235, 
                "w": 200, 
                "h": 200, 
                "min": 0, 
                "max": 8000, 
                "redline": 6750, 
                "numerals": true, 
                "scale_step": 1000, 
                "scale_mult": 1000, 
                "buffer_size": 60
            },
            {
                "sensor": "RPM",
                "type": "Text",
                "title": "RPM",
                "x": 600,
                "y": 235,
                "w": 200,
                "h": 200,
                "min": 0,
                "max": 8000,
                "redline": 6750,
                "numerals": true,
                "scale_step": 1000,
                "scale_mult": 1000,
                "buffer_size": 60
            }
        ]
    ]
}
